{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}
{{ $baseURL := urls.Parse $.Site.Params.Baseurl -}}

<nav class="td-navbar js-navbar-scroll
            {{- if $cover }} td-navbar-cover {{- end }}" data-bs-theme="dark">
<div class="td-navbar-container container-fluid flex-column flex-md-row">
  <a class="navbar-brand d-flex align-items-center" href="{{ .Site.Home.RelPermalink }}">
    <span class="navbar-brand__logo navbar-logo text-primary me-2">
      <i class="fa-solid fa-square-d fa-2x"></i>
    </span>
    <span class="navbar-brand__name font-weight-bold me-3">
      {{- .Site.Title -}}
    </span>
    
    <div class="d-none d-lg-flex align-items-center ms-2 ps-3 border-start border-white-50" style="gap: 50px;">
        <img src="images/logo-ucm.jpg" alt="UCM" style="height: 38px; width: auto;">
        <img src="images/logo-nfq.svg" alt="Nfq" style="height: 28px; width: auto;">
    </div>
  </a>

  <div class="td-navbar-nav-scroll td-navbar-nav-scroll--indicator" id="main_navbar">
    <div class="scroll-indicator scroll-left"></div>
    <ul class="navbar-nav">
      {{ $p := . -}}
      {{ range .Site.Menus.main -}}
      <li class="nav-item">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
        {{ $href := "" -}}
        {{ with .Page -}}
          {{ $active = or $active ( $.IsDescendant .) -}}
          {{ $href = .RelPermalink -}}
        {{ else -}}
          {{ $href = .URL | relLangURL -}}
        {{ end -}}
        {{ $isExternal := ne $baseURL.Host (urls.Parse .URL).Host -}}
        <a class="nav-link {{- if $active }} active {{- end }}" href="{{ $href }}"
          {{- if $isExternal }} target="_blank" rel="noopener" {{- end -}}
        >
            {{- .Pre -}}
            <span>{{ .Name }}</span>
            {{- .Post -}}
        </a>
      </li>
      {{ end -}}
      {{ if .Site.Params.versions -}}
      <li class="nav-item dropdown d-none d-lg-block td-navbar__version-menu">
        {{ partial "navbar-version-selector.html" . -}}
      </li>
      {{ end -}}
      {{ if (gt (len .Site.Home.Translations) 0) -}}
      <li class="nav-item td-navbar__lang-menu">
        {{ partial "navbar-lang-selector.html" . -}}
      </li>
      {{ end -}}
      {{- $darkMode := partialCached "dark-mode-config.html" "dark-mode-global" -}}
      {{ if $darkMode.showMenu -}}
      <li class="nav-item td-navbar__light-dark-menu">
        {{ partial "theme-toggler" . }}
      </li>
      {{ end -}}
    </ul>
    <div class="scroll-indicator scroll-right"></div>
  </div>
  <div class="d-none d-lg-block td-navbar__search">
    {{ partial "search-input.html" . }}
  </div>
</div>
</nav>