/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/
$primary: #B0233A; 
$td-primary: $primary;
$dark: #343a40;
$light: #f8f9fa;
$active-orange: #d4a017; 